// Mixins Here
@font:'Nova Cut', cursive;
@buttonpad: 10px 24px;
@buttoncolor:white;
@phone: ~'(max-width: 500px)';
.practice{
    font-family: @font;
    font-size: 150%;
}

.visit-planets{
    .practice();
    color: black;
}
.walk-text{
    .visit-planets();
}
.intro{
    .visit-planets();
}
