// Navigation code here
.navigation{
    border:1px solid red;
    background-color: #8787e0;
    text-align: center;
}
    .spacewalker{
        font-size: 160%;
        margin:3% 0;
    }
    nav{
        display: flex;
    justify-content: center;
    margin-bottom: 2%;
    }
    a{
        text-decoration: none;
        color: black;
        margin:0% 3%;
    }
